@keyframes scale {
    0% { transform: scale(1);}
    30%{ transform: scale(1.5);}
    60% { transform: scale(0.8);    }
    100% { transform: scale(1);}
}

@keyframes bounce {
    0%, 100% {
      transform: translateY(0);
    }
    25% {
      transform: translateY(-20px);
    }
    50% {
      transform: translateY(0);
    }
    75% {
      transform: translateY(-10px);
    }
  }


  @keyframes fadeOut {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }


  @keyframes fadeIn {
    0% {
      opacity: 0; /* Commencer avec une opacité de 0 */
      transform: translateY(50px); /* Décalage initial vers le bas */
    }
    100% {
      opacity: 1; /* Terminer avec une opacité de 1 */
      transform: translateY(0); /* Pas de décalage */
    }
  }


  .letter:nth-child(1) {
    animation: bounce 1s ease-in-out infinite alternate; /* Alternance de l'animation */
    animation-delay: 0s;
  }
  
  .letter:nth-child(2) {
    animation: bounce 1s ease-in-out infinite alternate; /* Alternance de l'animation */
    animation-delay: 0.1s;
  }
  
  .letter:nth-child(3) {
    animation: bounce 1s ease-in-out infinite alternate; /* Alternance de l'animation */
    animation-delay: 0.2s;
  }
  
  .letter:nth-child(4) {
    animation: bounce 1s ease-in-out infinite alternate; /* Alternance de l'animation */
    animation-delay: 0.3s;
  }
  
  .letter:nth-child(5) {
    animation: bounce 1s ease-in-out infinite alternate; /* Alternance de l'animation */
    animation-delay: 0.4s;
  }
  
  .letter:nth-child(6) {
    animation: bounce 1s ease-in-out infinite alternate; /* Alternance de l'animation */
    animation-delay: 0.5s;
  }
  
  .letter:nth-child(7) {
    animation: bounce 1s ease-in-out infinite alternate; /* Alternance de l'animation */
    animation-delay: 0.6s;
  }
  
  .letter:nth-child(8) {
    animation: bounce 1s ease-in-out infinite alternate; /* Alternance de l'animation */
    animation-delay: 0.7s;
  }

  .categorie_menu:nth-child(2){
    animation-delay: 0.2s;
}
.categorie_menu:nth-child(3){
    animation-delay: 0.9s;
}
.categorie_menu:nth-child(4){
    animation-delay: 1.3s;
}