footer {
    @include display-flex_column;
    // display: flex;
    // flex-direction: column;
    padding-top: 30px;
    background-color: #353535;
    color: var(--main-color);

    .footer_logo {
        padding-left: 25px;
    
    img {
        width: 25%;
        filter: invert(1);
    }
}
    .footer_link {
        @include display-flex_column;
        // display: flex;
        // flex-direction: column;
        justify-content: flex-start;
        padding-left: 25px;
        gap: 10px;

        .fa-solid {
            color: var(--main-color);
            padding-right: 5%;
         }
         .fa-handshake-angle {
            padding-right: 3%;
        }
        li {
            list-style-type: none;   
        }
    }
}