@media (min-width: 767.95px) {


body{
max-width: 100%;
}


.header_variant {
    justify-content: start;


    .fa-solid {
        color: black;
    }


    img {   
        width: 53%;

    }
}
.section_fonctionnement {
    width: 90%;
    padding-left: 5%;
    background-color: var(--main-color);
    .section_etapes{
        flex-direction: row;
        justify-content: space-between;
        padding-left: 0%;

        .etape {
            padding-left: 1%;
            width: 30%;
            font-size: 1rem;
            
        .etape_contenu {
            padding-left: 6%;
            text-wrap: nowrap; 
        }
        }
    }
}

main {
    background-color: var(--main-color);
}
.main {
    background-color: #f6f6f6;
    max-width:1055px ;
    margin: auto;
    
    
}
.section_restaurants {
   background: #eaeaea;
}

.restaurant_titre {
    display: flex;
    justify-content: center;
}

.footer_container {

    .footer_logo {
        padding-top: 3%;
        width: 60%;
    }

}

.background_loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../assets/anh-nguyen-kcA-c3f_3FE-unsplash.jpg);
    background-size: cover;
    background-position: center;
    z-index: 19;
    animation: fadeOut 4s ease-in-out forwards;
  }
   
@media (min-width: 1024px){

    .section_fonctionnement {
        width: 73%;
        padding-left: 15%;
    }


    .section_restaurants {
        
        padding-left: 15%;
        padding-bottom: 3%;
        

    .cards {
        gap: 8%;
        flex-direction: row;
        flex-wrap: wrap;

        .card {
            margin-top: 3%;
            width: 40%;
            justify-content: center;
        }
    }
    }
    .footer_container {
                flex-direction: row-reverse;
                align-items: center;
                padding-right: 3%;
                text-align: right;
                
                .footer_logo {
                   padding-left: 6%;
                    width: 15%;
                    padding-top: 0;
                    img {
                        width:80% ;
                    }
        
                }
        
                .footer_link {
                    flex-direction: row;
                    text-wrap: nowrap;
                    gap: 5%;
                }
        
        
            
            }


}

}