
@keyframes validation {
    0% { transform: scale(0);}
    25% { background-color: var(--third-color);}
    100% { transform: scale(1); background-color: var(--third-color);}
}

/**********Animation***********/

.btn_basic:hover{
    transition: background-color 0.3s ease ;
    background: linear-gradient(0deg, var(--sixth-color)0% , rgb(255, 121.13, 217.52)60% );
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);
}

.button_heart {
    border: none;
    background: none;
    cursor: pointer;
}

.card_like .fa-solid {
    font-size: 25px;
    display: none;
}

.card_like:hover .fa-solid{
    display: block;
    animation: heart_in 1s ease-in-out;
}

.card_like:hover .fa-regular {
    display: none;
    animation: heart_out 0.5s ease-out;
}



@keyframes heart_in {
    0% { transform: scale(0);}
    100% { transform: scale(1);}
}

@keyframes heart_out {
    100% { transform: scale(1);}
    0% {transform: scale(0);}
}
/******************/