/******Section Menu *******/
main {
    position: relative;
}

.banner img {
    height: 100%;
    max-height: 275px;
    width: 100%;
    object-fit: cover;
}
.main_menu {
   background-color: var(--main-color);
   border-radius: 20px 20px 0 0;
}
.menu {
    background-color: var(--main-color);
    padding-top: 10px;
    position: relative;
    top: -80px;
    z-index: 1;
    border-radius: 50px;
    
}
.menu_title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left:17px ;
    padding-right: 41px;
}
.menu_title h1 {
    font-family: "Shrikhand", serif;
    font-size: 23px;
    font-weight: lighter;
}

.menu_content {
    display: flex;
    flex-direction: column;
    gap: 20PX;
    padding-left: 15px;
    padding-right: 25px;
}

.menu_content button {
    border: none;
    
}
.content_title {
    width: 15%;
     
}
.content_title h2 {
    text-transform: uppercase;
    font-weight: 100;
    border-bottom: 3px solid var(--second-color);  
    padding-bottom: 10px;
}
.menu_choice {
    padding: 8px 0px 9px 10px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    /* position: relative; */
    display: flex;
    justify-content: space-between;
    
}
.choice_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding-left: 10px;
    font-size: 18px;
    gap: 8px;
}

.choice_title {
    font-weight: bold;
}
.choice_price {
    font-weight: bold;
    font-size: 18px;
    padding-right: 1%;  
    display: flex;
    padding-top: 3%;
    justify-content: center;
}

.button_order {
   display: flex;
   justify-content: center;
   align-items: center;
   padding-top: 40px;
   padding-bottom: 40px;
}

.fa-circle-check {  
    color: var(--third-color);
    overflow: hidden;
}

.menu_choice .choice_price {
    height: auto;
}
.choice_price .fa-circle-check {
    height: 100%;
    display: none;
}
/******************/